html, body { width: 100%; height: 100%; overflow: hidden; background: #D3FFF4; }
body { -webkit-box-shadow: inset #FD7173 0 0 0 10px; }

* { cursor: url("../img/arrow.png"), auto; }

/*
	HEADER 
*/

#social { position: fixed; top: 31px; left: 31px; }
#social a { margin-right: 14px; cursor: url("../img/pointer.png"), pointer; width: 35px; height: 35px; display: block; float: left;  }
#social a:hover { opacity: .6; }
#social a img { cursor: url("../img/pointer.png"), pointer; width: 100%; height: 100%; }
#social .t img { width: 37px; height: 30px; }
#social .fb img { width: 15px; height: 30px; }

#logo { padding-top: 31px; padding-bottom: 25px; width: calc(816px / 2); height: calc(309px / 2 ); margin: 0 auto; }
#logo img { width: 100%; height: 100%; }

/*
	GAME
*/

#score { position: fixed; top: 18px; right: 29px; }
#score p { color: #FF7676; font: 800 44px 'futura-pt'; }

#game { width: 462px; height: 276px; margin: 0 auto; padding: 25px 0px 50px 11px; }
#game .row { width: 100%; height: 142px;  position: relative; margin-bottom: 14px; }

#game .button { cursor: url("../img/pointer.png"), pointer; position: absolute; width: 142px; height: 142px; background: url("../img/button_sprite.png") top left no-repeat; background-size: 300% 500%;  background-position: 0px 0px; }

#game .button:hover { background-position: calc(-142px * 1) calc(-142px * 0); }
#game .button:active { background-position: calc(-142px * 2) calc(-142px * 0); }
#game .button.active { background-position: calc(-142px * 0) calc(-142px * 1); }

#game .active:hover { background-position: calc(-142px * 1) calc(-142px * 1); }
#game .active.open { background-position: calc(-142px * 2) calc(-142px * 1); }
#game .active.close { background-position: calc(-142px * 0) calc(-142px * 2); }
#game .active:active { background-position: calc(-142px * 2) calc(-142px * 0); }

#game .wrong.crying { background-position: calc(-142px * 1) calc(-142px * 2); }
#game .wrong.artist { background-position: calc(-142px * 2) calc(-142px * 2); }
#game .wrong.artist:hover { background-position: calc(-142px * 0) calc(-142px * 2); }
#game .wrong.artist:active { background-position: calc(-142px * 1) calc(-142px * 1); }

#game .right { background-position: calc(-142px * 0) calc(-142px * 4); }
#game .complete { background-position: calc(-142px * 0) calc(-142px * 4); }
#game .complete:hover { background-position: calc(-142px * 1) calc(-142px * 4); }
#game .complete:active { background-position: calc(-142px * 2) calc(-142px * 4); }
#game .right:hover { background-position: calc(-142px * 1) calc(-142px * 4); }
#game .right:active { background-position: calc(-142px * 2) calc(-142px * 4); }
#game .right.blink { background-position: calc(-142px * 2) calc(-142px * 3); }

#game .one { left: -webkit-calc((142px + 17px) * 0); }
#game .two { left: -webkit-calc((142px + 17px) * 1); }
#game .three { left: -webkit-calc((142px + 17px) * 2); }

#game .right .artist, #game .complete .artist { width: 121px; height: 121px; background: url("../img/artists.png") top left no-repeat; background-size: 200% 3800%; background-position: 0px 0px; position: absolute; bottom: 20px; left: 21px; opacity: 0; }
#game .right:hover .artist, #game .complete:hover .artist { background-position: -121px 0px; left: 18px; }
#game .right:active .artist, #game .complete:active .artist { bottom: 7px; left: 6px; }

/*
	ARTISTS
*/

#game .right .britney, #game .complete .britney { background-position: 0px calc(-121px * 0); }
#game .right:hover .britney, #game .complete:hover .britney { background-position: -121px calc(-121px * 0); }

#game .right .busta, #game .complete .busta { background-position: 0px calc(-121px * 1); }
#game .right:hover .busta, #game .complete:hover .busta { background-position: -121px calc(-121px * 1); }

#game .right .enrique, #game .complete .enrique { background-position: 0px calc(-121px * 2); }
#game .right:hover .enrique, #game .complete:hover .enrique { background-position: -121px calc(-121px * 2); }

#game .right .fergie, #game .complete .fergie { background-position: 0px calc(-121px * 3); }
#game .right:hover .efergie, #game .complete:hover .fergie { background-position: -121px calc(-121px * 3); }

#game .right .jayz, #game .complete .jayz { background-position: 0px calc(-121px * 4); }
#game .right:hover .jay, #game .complete:hover .jayz { background-position: -121px calc(-121px * 4); }

#game .right .timberlake, #game .complete .timberlake { background-position: 0px calc(-121px * 5); }
#game .right:hover .timberlake, #game .complete:hover .timberlake { background-position: -121px calc(-121px * 5); }

#game .right .katy, #game .complete .katy { background-position: 0px calc(-121px * 6); }
#game .right:hover .katy, #game .complete:hover .katy { background-position: -121px calc(-121px * 6); }

#game .right .ladygaga, #game .complete .ladygaga { background-position: 0px calc(-121px * 7); }
#game .right:hover .ladygaga, #game .complete:hover .ladygag { background-position: -121px calc(-121px * 7); }

#game .right .mariah, #game .complete .mariah { background-position: 0px calc(-121px * 8); }
#game .right:hover .mariah, #game .complete:hover .mariah { background-position: -121px calc(-121px * 8); }

#game .right .nodoubt, #game .complete .nodoubt { background-position: 0px calc(-121px * 9); }
#game .right:hover .nodoubt, #game .complete:hover .nodoubt { background-position: -121px calc(-121px * 9); }

#game .right .backstreetboys, #game .complete .backstreetboys { background-position: 0px calc(-121px * 10); }
#game .right:hover .backstreetboys, #game .complete:hover .backstreetboys { background-position: -121px calc(-121px * 10); }

#game .right .christina, #game .complete .christina { background-position: 0px calc(-121px * 11); }
#game .right:hover .christina, #game .complete:hover .christina { background-position: -121px calc(-121px * 11); }

#game .right .george, #game .complete .george { background-position: 0px calc(-121px * 12); }
#game .right:hover .george, #game .complete:hover .george { background-position: -121px calc(-121px * 12); }

#game .right .haddaway, #game .complete .haddaway { background-position: 0px calc(-121px * 13); }
#game .right:hover .haddaway, #game .complete:hover .haddaway { background-position: -121px calc(-121px * 13); }

#game .right .janet, #game .complete .janet { background-position: 0px calc(-121px * 14); }
#game .right:hover .janet, #game .complete:hover .janet {  background-position: -121px calc(-121px * 14); }

#game .right .kingsofleon, #game .complete .kingsofleon { background-position: 0px calc(-121px * 15); }
#game .right:hover .kingsofleon, #game .complete:hover .kingsofleon {  background-position: -121px calc(-121px * 15); }

#game .right .jackson, #game .complete .jackson { background-position: 0px calc(-121px * 16); }
#game .right:hover .jackson, #game .complete:hover .jackson {  background-position: -121px calc(-121px * 16); }

#game .right .robyn, #game .complete .robyn { background-position: 0px calc(-121px * 17); }
#game .right:hover .robyn, #game .complete:hover .robyn { background-position: -121px calc(-121px * 17); }

#game .right .sisqo, #game .complete .sisqo { background-position: 0px calc(-121px * 18); }
#game .right:hover .sisqo, #game .complete:hover .sisqo {  background-position: -121px calc(-121px * 18); }

#game .right .blackeyedpeas, #game .complete .blackeyedpeas { background-position: 0px calc(-121px * 19); }
#game .right:hover .blackeyedpeas, #game .complete:hover .blackeyedpeas { background-position: -121px calc(-121px * 19); }

#game .right .killers, #game .complete .killers { background-position: 0px calc(-121px * 20); }
#game .right:hover .killers, #game .complete:hover .killers {  background-position: -121px calc(-121px * 20); }

#game .right .chapman, #game .complete .chapman { background-position: 0px calc(-121px * 21); }
#game .right:hover .chapman, #game .complete:hover .chapman { background-position: -121px calc(-121px * 21); }

#game .right .vanillaice, #game .complete .vanillaice { background-position: 0px calc(-121px * 22); }
#game .right:hover .vanillaice, #game .complete:hover .vanillaice { background-position: -121px calc(-121px * 22); }

#game .right .eminem, #game .complete .eminem { background-position: 0px calc(-121px * 23); }
#game .right:hover .eminem, #game .complete:hover .eminem {  background-position: -121px calc(-121px * 23); }

#game .right .bieber, #game .complete .bieber { background-position: 0px calc(-121px * 24); }
#game .right:hover .bieber, #game .complete:hover .bieber { background-position: -121px calc(-121px * 24); }

#game .right .elvis, #game .complete .elvis { background-position: 0px calc(-121px * 25); }
#game .right:hover .elvis, #game .complete:hover .elvis {  background-position: -121px calc(-121px * 25); }

#game .right .aliciakeys, #game .complete .aliciakeys { background-position: 0px calc(-121px * 26); }
#game .right:hover .aliciakeys, #game .complete:hover .aliciakeys {  background-position: -121px calc(-121px * 26); }

#game .right .lana, #game .complete .lana { background-position: 0px calc(-121px * 27); }
#game .right:hover .lana, #game .complete:hover .lana {  background-position: -121px calc(-121px * 27); }

#game .right .50cent, #game .complete .50cent { background-position: 0px calc(-121px * 28); }
#game .right:hover .50cent, #game .complete:hover .50cent {  background-position: -121px calc(-121px * 28); }

#game .right .adele, #game .complete .adele { background-position: 0px calc(-121px * 29); }
#game .right:hover .adele, #game .complete:hover .adele {  background-position: -121px calc(-121px * 29); }

#game .right .beyonce, #game .complete .beyonce { background-position: 0px calc(-121px * 30); }
#game .right:hover .beyonce, #game .complete:hover .beyonce { background-position: -121px calc(-121px * 30); }

#game .right .chrisbrown, #game .complete .chrisbrown { background-position: 0px calc(-121px * 31); }
#game .right:hover .chrisbrown, #game .complete:hover .chrisbrown { background-position: -121px calc(-121px * 31); }

#game .right .laroux, #game .complete .laroux { background-position: 0px calc(-121px * 32); }
#game .right:hover .laroux, #game .complete:hover .laroux { background-position: -121px calc(-121px * 32); }

#game .right .moby, #game .complete .moby { background-position: 0px calc(-121px * 33); }
#game .right:hover .moby, #game .complete:hover .moby { background-position: -121px calc(-121px * 33); }

#game .right .rihanna, #game .complete .rihanna { background-position: 0px calc(-121px * 34); }
#game .right:hover .rihanna, #game .complete:hover .rihanna { background-position: -121px calc(-121px * 34); }

#game .right .shakira, #game .complete .shakira { background-position: 0px calc(-121px * 35); }
#game .right:hover .shakira, #game .complete:hover .shakira { background-position: -121px calc(-121px * 35); }

#game .right .tupac, #game .complete .tupac { background-position: 0px calc(-121px * 36); }
#game .right:hover .tupac, #game .complete:hover .tupac { background-position: -121px calc(-121px * 36); }

#game .right .usher, #game .complete .usher { background-position: 0px calc(-121px * 37); }
#game .right:hover .usher, #game .complete:hover .usher { background-position: -121px calc(-121px * 37); }


/*
	ANSWER INPUT
*/

#answer { position: relative; width: 450px; height: 56px; margin: 0 auto; background-color: #FD7779; box-sizing: border-box; }
#answer input { background-color: #FBF7BE; display: block; width: 218px; height: 30px; box-sizing: conent-box; font: 700 16px "futura-pt"; text-transform: uppercase; color: rgba(253,119,121,1); text-align: center; outline: none; border: none; position: absolute; top: 13px; left: 13px; }
#answer input::-webkit-input-placeholder { color: rgba(253,119,121,1); }
#answer input.blink { border: 5px solid #56C2D2; top: 8px; left: 8px; }
#answer input.active { border: 5px solid #56C2D2; top: 8px; left: 8px; }

#answer .button { position: absolute; top: 7px; left: 0px; height: 37px; width: 96px; cursor: url("../img/pointer.png"), pointer; background: url("../img/answer_sprite.png") top left no-repeat; background-size: 300% 200%; }

#answer #enter { background-position: 0px 0px; left: 244px; }
#answer #enter:hover { background-position: -96px 0px; }
#answer #enter:active { background-position: -193px 0px; }

#answer #noclue { background-position: 0px -37px; left: 348px; margin-right: 0px; }
#answer #noclue:hover { background-position: -96px -37px; }
#answer #noclue:active { background-position: -193px -37px; }

/*
	RESULTS AND SHARE
*/

#gameover { width: 488px; margin: 0 auto; display: none; }
#gameover .message p { width: 488px; text-align: center; margin-bottom: 20px; font: 800 24px "futura-pt"; color: #56c2d2; }
#gameover .message p span { color: #ff6969; }
#gameover .message .lost { display: none; width: 480px; }
#gameover .playshare { width: 377px; margin: 0 auto;  }
#gameover .playshare a { text-align: center; float: left; box-sizing: border-box; padding: 9px; width: 178px; height: 46px; background-color: #FD6A6C; cursor: url("../img/pointer.png"), pointer; font: 800 20px "futura-pt"; color: #ffffbf; }
#gameover .playshare .share { float: left; width: 178px; height: 46px; }
#gameover .playshare .share a { width: 178px; }
#gameover .playshare .share .links { display: none; width: 178px; height: 46px; }
#gameover .playshare .share .links img { float: left; display: block; margin-right: 8px; }
#gameover .playshare .share .links img:hover { opacity: .6; cursor: url("../img/pointer.png"), pointer; }
#gameover .playshare .share .links .no-margin { margin-right: 0px; }
#gameover .playshare .share:hover a { display: none; }
#gameover .playshare .share:hover .links { display: block; }
#gameover .playshare .playagain { margin-right: 20px; }