html, body { width: 100%; height: 100%; overflow: hidden; background: #D3FFF4 url("../img/bgtile.jpg") top left repeat; }
body { -webkit-box-shadow: inset #FD7173 0 0 0 10px; }

#wrapper {}

#social { position: fixed; top: 31px; left: 31px; }
#social a { margin-right: 14px; }
#logo { padding-top: 31px; padding-bottom: 25px; width: calc(816px / 2); height: calc(309px / 2 ); margin: 0 auto; }
#logo img { width: 100%; height: 100%; }
#score { position: fixed; top: 18px; right: 29px; }
#score p { color: #FF7676; font: 800 44px 'futura-pt'; }

#game { width: 462px; height: 276px; margin: 0 auto; padding: 50px 0px 70px 11px; }
#game .row { width: 100%; height: 142px;  position: relative; margin-bottom: 14px; }

#game .button { cursor: pointer; position: absolute; width: 142px; height: 142px; background: url("../img/button_sprite.png") top left no-repeat; float: left; background-size: 300% 500%;  background-position: 0px 0px; }

#game .button:hover { background-position: calc(-142px * 1) calc(-142px * 0); }
#game .button:active { background-position: calc(-142px * 2) calc(-142px * 0); }
#game .button.active { background-position: calc(-142px * 0) calc(-142px * 1); }

#game .active:hover { background-position: calc(-142px * 1) calc(-142px * 1); }
#game .active.open { background-position: calc(-142px * 2) calc(-142px * 1); }
#game .active.close { background-position: calc(-142px * 0) calc(-142px * 2); }
#game .active:active { background-position: calc(-142px * 2) calc(-142px * 0); }

#game .wrong.crying { background-position: calc(-142px * 1) calc(-142px * 2); }
#game .wrong.artist { background-position: calc(-142px * 2) calc(-142px * 2); }
#game .wrong.artist:hover { background-position: calc(-142px * 0) calc(-142px * 2); }
#game .wrong.artist:active { background-position: calc(-142px * 1) calc(-142px * 1); }

#game .right { background-position: calc(-142px * 0) calc(-142px * 4); }
#game .complete { background-position: calc(-142px * 0) calc(-142px * 4); }
#game .complete:hover { background-position: calc(-142px * 0) calc(-142px * 4); }
#game .complete:active { background-position: calc(-142px * 0) calc(-142px * 4); }
#game .right:hover { background-position: calc(-142px * 1) calc(-142px * 4); }
#game .right:active { background-position: calc(-142px * 2) calc(-142px * 4); }
#game .right.blink { background-position: calc(-142px * 2) calc(-142px * 3); }

#game .one { left: -webkit-calc((142px + 17px) * 0); }
#game .two { left: -webkit-calc((142px + 17px) * 1); }
#game .three { left: -webkit-calc((142px + 17px) * 2); }

#gameover { width: 488px; margin: 0 auto; display: none;  }
#gameover .message p { width: 488px; text-align: center; margin-bottom: 30px; }
#gameover .message .lost { display: none; }
#gameover .playshare { width: 385px; margin: 0 auto; }
#gameover .playshare .first { margin-right: 33px; }

#answer { position: relative; width: 450px; height: 56px; margin: 0 auto; background-color: #FD7779; box-sizing: border-box; padding: 13px; }
#answer input { background-color: #FBF7BE; border: none; display: block; width: 218px; height: 30px; box-sizing: border-box; outline: none; font: 800 13px "futura-pt"; text-transform: uppercase; color: rgba(253,119,121,1); text-align: center; }
#answer input.blink { color: rgba(253,119,121,.4); }

#answer .button { position: absolute; top: 7px; left: 0px; height: 37px; width: 96px; cursor: pointer; background: url("../img/answer_sprite.png") top left no-repeat; background-size: 300% 200%; }

#answer #enter { background-position: 0px 0px; left: 244px; }
#answer #enter:hover { background-position: -96px 0px; }
#answer #enter:active { background-position: -193px 0px; }

#answer #noclue { background-position: 0px -37px; left: 348px; margin-right: 0px; }
#answer #noclue:hover { background-position: -96px -37px; }
#answer #noclue:active { background-position: -193px -37px; }